@using ReadDatabase.Database
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Alle producten</h1>

<div class="products">

  @foreach (Product product in Model)
  {
    <a href="/product/@product.Id">@product.Naam</a>
  }
</div>


