html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

  .products a {
    background-color: #298760;
    text-decoration: none;
    padding: 20px;
    color: white;
  }
